extends ../angularjs

block content
  a.btn.btn-default(href='/customer/list') 명단
  a.btn.btn-default(href='/customer/select') 조회
  a.btn.btn-default(href='/customer/insert') 추가
  a.btn.btn-default(href='/customer/update') 수정
  a.btn.btn-default(href='/customer/delete') 삭제
